
.parallex_wrapper{
	background-image: url('../img/background2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.girl{
	height: 200px;
	background-image: url('../img/girl_tran.png');
    background-repeat: no-repeat;
    background-size: contain;
}